@using System.Collections.Generic
@model System.Collections.Generic.IReadOnlyCollection<BeeFee.OrganizerApp.Projections.EventProjection>

<h2>My events:</h2>

@if (Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            @*<th>Category</th>*@
            <th>Type</th>
            <th>Dates</th>
            <th>City</th>
            <th>Address</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var eventProjection in Model)
        {
            <tr>
                <td>@eventProjection.Name</td>
                <td>@eventProjection.Category.Name</td>
                <td>@eventProjection.Type.ToString()</td>
                <td>@eventProjection.DateTime</td>
                <td>@eventProjection.Address.City</td>
                <td>@eventProjection.Address.AddressString</td>
                <td>@eventProjection.Prices?[0].Price.ToString()</td>
                <td>
                    
                </td>
            </tr>
        }
        </tbody>
    </table>
}

else
{
    <div class="text-center">
        You don't have any events
    </div>
}
<br /><br />
<a asp-action="Add">Add</a>