@using Expo3.Model.Embed
@using FormMethod = Microsoft.AspNetCore.Mvc.Rendering.FormMethod
@model Expo3.WebApplication.Areas.Org.Models.AddEventEditModel
@{
    ViewData["Title"] = "Add";
}

<h2>Edit @Model.Name</h2>

<form asp-action="Edit" asp-controller="Event" asp-route-id="@Model.Id" method="post" class="form-horizontal">
	<div class="validation" asp-validation-summary="ModelOnly"></div>
	<input type="hidden" asp-for="Version"/>
    <div class="container">

        <div class="form-group">
            <input class="form-control" asp-for="Name" placeholder="Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        @*<div class="form-group">
            <input type="text" class="form-control" asp-for="Category.Name" placeholder="Category"/>
            <span asp-validation-for="Category"></span>
        </div>*@
        
        <div class="form-group">
            <label>Выберите категорию:</label>
            @if (Model.LoadedCategories.Count > 0)
            {
                <label class="checkbox-inline">
                    <input type="checkbox" id="chkAllCategories" checked /> Все категории
                </label>foreach (var category in Model.LoadedCategories)
                {
                    <label class="checkbox-inline">
                        <input type="checkbox" class="class-category" value="@category.Value" /> @category.Text
                    </label>
}
            }
            else
            {
                <span class="text-danger">Доступных категорий не найдено</span>}
        </div>



        <div class="form-group">
            @Html.DropDownListFor(x => x.Type, Html.GetEnumSelectList<EEventType>(), new {@class = "form-control"})
        </div>

        <div class="form-group">
            <input type="text" class="form-control" asp-for="City" placeholder="City"/>
            <span asp-validation-for="City"></span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" asp-for="Address" placeholder="Address"/>
            <span asp-validation-for="Address"></span>
        </div>

        <div class="form-group">
            <label asp-for="StartDateTime"></label>
            <div class="row">
                <div class="col-lg-3">
                    <div class='input-group date' id='startDateTimePicker'>
                        <input type='text' class="form-control" asp-for="StartDateTime" value="@Model.StartDateTime"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="FinishDateTime"></label>
            <div class="row">
                <div class="col-lg-3">
                    <div class='input-group date' id='finishDateTimePicker'>
                        <input type='text' class="form-control" asp-for="FinishDateTime" value="@Model.FinishDateTime"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Price" asp-for="Price"/>
            <span asp-validation-for="Price"></span>
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Caption" asp-for="Caption" />
            <span asp-validation-for="Caption"></span>
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="10" placeholder="HTML here" asp-for="Html"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn"/>
        </div>
    </div>
</form> 

@section Scripts{ 
    <script type="text/javascript">
        $(function () {
            $('#startDateTimePicker').datetimepicker({
                format: "DD.MM.YYYY HH:mm"
            });
            $('#finishDateTimePicker').datetimepicker({
                format: "DD.MM.YYYY HH:mm",
                useCurrent: false //Important! See issue #1075
            });
            $("#startDateTimePicker").on("dp.change", function (e) {
                $('#finishDateTimePicker').data("DateTimePicker").minDate(e.date);
            });
            $("#finishDateTimePicker").on("dp.change", function (e) {
                $('#startDateTimePicker').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
}