@model ToDo.WebApp.Model.NewTaskEditModel
@{
	ViewBag.Title = "Новая задача";
}

@using (Html.BeginForm("AddTask", "Task", new {Model.ProjectId, Model.ParentTaskId}, FormMethod.Post))
{
	<small>Заголовок:</small>
	<div>@Html.TextBoxFor(x => x.Name)</div>
	<small>Срок:</small>
	<div>@Html.TextBoxFor(x => x.Deadline)</div>
	<small>Оценочное время (мин):</small>
	<div>@Html.TextBoxFor(x => x.EstimatedTime)</div>
	<small>Назначить на:</small>
	<div>
		<input type="text" class="typeahead" autocomplete="off" placeholder="имя пользователя" url="@Url.Action("GetUsers", "Task", new {id=Model.ProjectId})" set-id="Assigned" />
		@Html.HiddenFor(x => x.Assigned)
	</div>
	<small>Описание:</small>
	<div>@Html.TextAreaFor(x => x.Note)</div>
	<div>
		<submit text="Добавить" />
	</div>
}