@model ToDo.WebApp.Model.NewTaskEditModel
@{
	ViewBag.Title = "Новая задача";
}

@using (Html.BeginForm("AddTask", "Task", new {Model.ProjectId, Model.ParentTaskId}, FormMethod.Post))
{
	<small>Заголовок:</small>
	<div>@Html.TextBoxFor(x => x.Name)</div>
	<small>Срок:</small>
	<div>@Html.TextBoxFor(x => x.Deadline)</div>
	<small>Оценочное время (мин):</small>
	<div>@Html.TextBoxFor(x => x.EstimatedTime)</div>
	<small>Назначить на:</small>
	<div>
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input type="text" class="form-control typeahead" placeholder="имя пользователя" url="@Url.Action("GetUsers", "Task", new {id = Model.ProjectId})" set-id="Assigned">
		</div>
		@Html.HiddenFor(x => x.Assigned)
	</div>
	<small>Описание:</small>
	<div>@Html.TextAreaFor(x => x.Note, new {rows = 10, style="width: 100%; max-width: none;"})</div>
	<div>
		<submit text="Добавить" />
	</div>
}