@using System.Security.Claims
@model System.Collections.Generic.IReadOnlyCollection<KeyValuePair<ToDo.Dal.Models.Project, int>>
@{
	ViewBag.Title = "Мои проекты";
}
<a asp-action="Add" asp-controller="Project" class="modal-link">добавить проект</a>
<table class="table table-hover">
	@foreach (var p in Model)
	{
		<tr>
			<td>@p.Key.Name</td>
			<td>
				@if (p.Key.Users != null)
				{
					foreach (var u in p.Key.Users)
					{
						<div>
							@(u.Nick)&nbsp;<a href="@Url.Action("DeleteUser", new {p.Key.Id, user=u.Id})" method="DELETE" class="modal-link">&times;</a>
						</div>
					}
				}
				<a href="@Url.Action("AddUser", new {p.Key.Id})" class="modal-link">добавить</a>
			</td>
			@if (User.IsInRole("user"))
			{
				<td>
					@if (p.Key.Users != null && p.Key.Users.Any(x => x.Id == User.Claims.First(z => z.Type == ClaimTypes.NameIdentifier).Value))
					{
						<a href="@Url.Action("Index", "Task", new {p.Key.Id})" class="modal-link">задачи [@p.Value]</a>
					}
				</td>
			}
			<td>
				<a href="@Url.Action("Edit", new {p.Key.Id})" class="modal-link">редактировать</a>
				<a href="@Url.Action("Delete", "Project", new {p.Key.Id, p.Key.Version})" method="DELETE">удалить</a>
			</td>
		</tr>
	}
</table>